---
import BaseLayout from "@layouts/BaseLayout.astro";
import Backgrounds from "@components/Backgrounds.astro";
import Header from "@components/Header.astro";
import Main from "@components/Main.astro";
import Hero from "@components/Hero.astro";
import Biography from "@components/Biography.astro";
import Favorites from "@components/Favorites.astro";
import RecentGames from "@components/RecentGames.astro";

const key = import.meta.env.STEAM_API_KEY;
const steamID = import.meta.env.STEAM_USER_ID;

// Fetch user profile
const profileURL = `https://api.steampowered.com/ISteamUser/GetPlayerSummaries/v0002/?key=${key}&steamids=${steamID}`;
const profileResponse = await fetch(profileURL);
const profileData = await profileResponse.json();
const player = profileData?.response?.players[0];

// Fetch recent games
const gamesURL = `https://api.steampowered.com/IPlayerService/GetRecentlyPlayedGames/v0001/?key=${key}&steamid=${steamID}`;
const gamesResponse = await fetch(gamesURL);
const gamesData = await gamesResponse.json();
const games = gamesData?.response?.games;

// Determine status
let statusClass = "not-playing";
let headline = "Offline";
let status = "";

const userName = player?.realname;
const userIsPlaying = player?.gameextrainfo;
const userIsPlayingId = player?.gameid;
const userStatus = player?.personastate;
const userAvatar = player?.avatarfull;
const userURL = player?.profileurl;
const userLastOnline = player?.lastlogoff;
const userCountry = player?.loccountrycode;
const userJoined = player?.timecreated;

if (userIsPlaying) {
  statusClass = "text-green";
  headline = `${userName} is online`;
  status = `Currently playing <a href="https://store.steampowered.com/app/${userIsPlayingId}" target="_blank">${userIsPlaying}</a>.`;
} else if (userStatus > 0) {
  statusClass = "text-yellow";
  headline = `${userName} is online`;
  status = "Currently on the Steam dashboard.";
} else {
  statusClass = "text-red";
  headline = "Offline";
  const lastOnlineDate = userLastOnline
    ? new Date(userLastOnline * 1000)
    : null;
  const lastOnlineISO = lastOnlineDate?.toISOString();
  const lastOnlineFormatted = lastOnlineDate?.toLocaleString("en-US", {
    month: "long",
    day: "numeric",
    year: "numeric",
    hour: "numeric",
    minute: "2-digit",
  });
  status = `${lastOnlineDate ? ` Last seen <time datetime="${lastOnlineISO}">${lastOnlineFormatted}</time>.` : ""}`;
}

const pageTitle = `What is ${userName} Playing`;
---

<BaseLayout pageTitle={pageTitle}>
  <Header userURL={userURL} userAvatar={userAvatar} />
  <Main>
    <Hero statusClass={statusClass} status={status} headline={headline} />
    <div class="xl:max-w-max flex flex-col gap-4 py-4 px-6 bg-black">
      <Biography location={userCountry} joined={userJoined} />
      <Favorites />
      <RecentGames games={games} />
    </div>
    <Backgrounds currentGame={userIsPlaying} />
  </Main></BaseLayout
>
